<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
</head>
<body>

	<div class="container my-2">
		<h1>Employees List</h1>

		<a th:href="@{/showNewEmployeeForm}" class="btn btn-primary  mb-3">Add
			Employee</a>


		<table border="1" class="table table-dark">
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Employee Email</th>
					<th>Operations</th>
				</tr>
			</thead>

			<tbody>


				<tr th:each="employee:${listOfEmployees}">

					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>

					<td><a th:href="@{/showUpdateForm/{id}(id=${employee.id})}"
						class="btn btn-primary">Update Employee</a> <a
						th:href="@{/deleteEmployee/{id}(id=${employee.id})}"
						class="btn btn-danger">Delete Employee</a></td>

				</tr>

			</tbody>


		</table>

		<div th:if="${totalPages > 1 }">

			<div class="row col-sm-500">

				<div class="row-sm-1 col-sm-2">Total Pages
					&nbsp;&nbsp;&nbsp;&nbsp;[[${totalPages}]]</div>

				<div class="col-sm-55">

					<span th:each="i : ${#numbers.sequence(1,totalPages)}"> <a
						th:if=" ${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]
					</a> <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;

					</span>

				</div>

				<div class="col-sm-2">

					<span th:if="${currentPage < totalPages}"> <a
						th:href="@{'/page/' +${totalPages}}">last</a>
					</span> <span th:unless="${currentPage<totalPages}">last</span>
				</div>


			</div>

		</div>


	</div>

</body>
</html>